.navigationBar {
    background-color: #3a6ba5;
    height: 3em;
    text-align: left;
    padding: 0.5em;
    position: sticky;
    top: 0;
    font-family: Arial;
    
}

.navigationBar .titleText{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Arial";
    cursor: default;
}

.navigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Arial";
    cursor: default;
    border-radius: 10px;
}

.navigationBar a:hover {
    background-color: #5282bd;
}
