@import url(//fonts.googleapis.com/css?family=Roboto);

*{
    margin: 0;
}

a{
    display: block;
}

.aboutText{
    padding: 2em;
    font-family: "Arial";
    
}

a{
    text-decoration: none;
    color: blue;
}