*{
    margin: 0;
}

a{
    display: block;
}

canvas{
    width: 80vmin;
    height: 100%;
    border: 2px solid blue;
}

.mainContainer{
    height: 90vh;
    overflow: hidden;
}

.board{
    height: 85vmin;
    /* border: 2px solid black; */
    margin: 1em;
    cursor: crosshair;
    overflow: hidden;
}

.ring{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    cursor: crosshair;
}